<h2>All Shows</h2>

<button *ngIf="userService.getUser().isAdmin" [routerLink]="'create'" style="float: right;margin-top:-45px" type="button" class="btn btn-success">Add a new show</button>
<br />
<ngx-select-dropdown [multiple]="true" [(value)]="selectedMovies" (valueChange)="onChooseMovies($event)" [config]="{placeholder: 'Select movies...', displayKey:'title',search: true}" [options]="movies$ | async" style="float: left; width:50%;"></ngx-select-dropdown>
<ngx-select-dropdown [multiple]="true" [(value)]="selectedRooms" (valueChange)="onChooseRooms($event)" [config]="{placeholder: 'Select rooms...', displayKey:'name',search: true}" [options]="rooms$ | async" style="float: right; width:50%;"></ngx-select-dropdown>
<br />
<br />
<table class="table">
  <thead>
  <tr>
    <th scope="col" width="25%">Movie</th>
    <th scope="col" width="15%">Room</th>
    <th scope="col" width="20%">Start</th>
    <th scope="col" width="20%">End</th>
    <th scope="col" width="10%">Details</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let show of shows$ | async | showFilter: selectedMovies:selectedRooms">
    <td>{{show.movie.title}}</td>
    <td>{{show.room.name}}</td>
    <td>{{show.start | date:'y-LL-dd HH:mm'}}</td>
    <td>{{show.end | date:'y-LL-dd HH:mm'}}</td>
    <td><button type="button" [routerLink]="[show.id]" class="btn btn-info">Details</button></td>
  </tr>
  </tbody>
</table>


