<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <h5 class="my-0 mr-md-auto font-weight-normal" [routerLink]="'/login'" style="cursor:pointer">Bioscoop</h5>
  <nav class="my-2 my-md-0 mr-md-3" *ngIf="userService.getUser()">
      <a class="p-2 text-dark" [routerLink]="'/shows'">Shows</a>
      <a class="p-2 text-dark" [routerLink]="'/movies'">Movies</a>
      <a class="p-2 text-dark" [routerLink]="'/rooms'">Rooms</a>
  </nav>
  <div *ngIf="userService.getUser(); else loggedOut">
    <a class="btn btn-outline-primary" [routerLink]="'/logout'">Log out</a>
  </div>

  <ng-template #loggedOut>
    <a class="btn btn-outline-primary" [routerLink]="'/login'">Sign in</a>
  </ng-template>

</div>
