<h2>All Movies</h2>

<button [routerLink]="'create'" style="float: right;margin-top:-45px" type="button" class="btn btn-success">Add a new movie</button>
<input class="form-control mr-sm-2" type="search" placeholder="Search" [ngModel]="searchTitle" (ngModelChange)="onChange($event)" >

<br />
<table class="table">
  <thead>
  <tr>
    <th scope="col">Title</th>
    <th scope="col">Minutes</th>
    <th scope="col">Details</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movie of movies">
      <td>{{movie.title}}</td>
      <td>{{movie.minutes}}</td>
      <td><button type="button" [routerLink]="[movie.id]" class="btn btn-info">Details</button></td>
    </tr>
  </tbody>
</table>


