<div class="card mt-5" style="margin:auto;max-width:600px">
  <div class="card-body">
    <h5 class="card-title">Login</h5>
    <div *ngIf="responseError">
      <div class="alert alert-danger">
        <strong>Oops!</strong> {{responseError}}
      </div>
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" placeholder="Username" [(ngModel)]="username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="password">
    </div>
    <button type="submit" class="btn btn-primary" (click)="tryLogin()">Login</button>
    <button style="float:right" type="submit" class="btn btn-info" [routerLink]="'/register'">Register</button>
  </div>
</div>
