<h2>Add a movie</h2>

<div *ngIf="error">
  <div class="alert alert-danger">
    <strong>Oops!</strong> {{error}}
  </div>
</div>

<div class="form-group">
  <label for="title">Title</label>
  <input id="title" class="form-control" [(ngModel)]="title">
</div>

<div class="form-group">
  <label for="description">Description</label>
  <textarea id="description" class="form-control" [(ngModel)]="description"></textarea>
</div>

<div class="form-group">
  <label for="releaseDate">Release date</label>
  <input id="releaseDate" type="datetime-local" class="form-control" [(ngModel)]="releaseDate">
</div>

<div class="form-group">
  <label for="minutes">Length in minutes</label>
  <input id="minutes" type="number"  class="form-control" [(ngModel)]="minutes">
</div>

<button type="button" [routerLink]="'../'" class="btn btn-danger">Cancel</button>
<button style="float: right" type="button" (click)="create()" class="btn btn-success">Create</button>
