<h2>Show editing</h2>

<form *ngIf="(show$ | async) as show">

  <div *ngIf="error">
    <div class="alert alert-danger">
      <strong>Oops!</strong> {{error}}
    </div>
  </div>

  <div class="form-group">
    <label for="id">Id</label>
    <input id="id" disabled="disabled" routerLink="" class="form-control" value="{{show.id}}">
  </div>

  <label>Movie</label>
  <div class="input-group mb-3">
    <ngx-select-dropdown style="width:100%" [multiple]="false" [(value)]="selectedMovies" [config]="{displayKey:'title',search: true}" [options]="movies$ | async"></ngx-select-dropdown>
  </div>

  <label>Room</label>
  <div class="input-group mb-3">
    <ngx-select-dropdown style="width:100%" [multiple]="false" [(value)]="selectedRooms" [config]="{displayKey:'name',search: true}" [options]="rooms$ | async"></ngx-select-dropdown>
  </div>

  <label>Play time</label>
  <div class="input-group mb-3">
    <input type="datetime-local" id="startDateField" name="startDateField" class="form-control" required (change)="onChangeStartDate($event)" value="{{startDateField | date:'yyyy-MM-ddTHH:mm'}}" />
    <input disabled="disabled" type="datetime-local" name="startDateInput" class="form-control" value="{{endDate | date:'yyyy-MM-ddTHH:mm'}}" />
  </div>

  <button type="button" [routerLink]="'../'" class="btn btn-danger">Cancel</button>
  <button style="float: right" type="submit" (click)="edit()" class="btn btn-success">Save</button>
</form>
