<h2>Movie editing</h2>

<div *ngIf="responseError">
  <div class="alert alert-danger">
    <strong>Oops!</strong> {{responseError}}
  </div>
</div>

<div *ngIf="movie">

  <div class="form-group">
    <label for="id">Id</label>
    <input id="id" disabled="disabled" routerLink="" class="form-control" value="{{movie.id}}">
  </div>

  <div class="form-group">
    <label for="title">Title</label>
    <input id="title" class="form-control" [(ngModel)]="title">
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea id="description" class="form-control" [(ngModel)]="description"></textarea>
  </div>

  <div class="form-group">
    <label for="releaseDate">Release date</label>
    <input id="releaseDate" class="form-control" [(ngModel)]="releaseDate">
  </div>

  <div class="form-group">
    <label for="minutes">Length in minutes</label>
    <input id="minutes" type="number"  class="form-control" [(ngModel)]="minutes">
  </div>

  <button type="button" [routerLink]="'../'" class="btn btn-danger">Cancel</button>
  <button style="float: right" type="button" (click)="edit()" class="btn btn-success">Save</button>

</div>
